@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  box-sizing: border-box;
  font-family: "Poppins", serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
}



.main-container {
  background: url('./assets/ayodhya.webp');
  background-repeat: no-repeat;
  background-size: 100%;
}




.active {
  opacity: 0.9;
}

@media screen and (max-width:968px) {
  .main-container {
    background-size: cover; 
    height: 120%; 
  }
}


.link-container > div {
  @apply  flex-1 p-6 flex flex-col gap-6 
}

.link-container > div > .link-list {
  @apply flex flex-col gap-4
}

.link-container > div > h2 {
  @apply mb-3 text-xl font-[500]
}

.link-container > div > .link-list > li {
  @apply text-neutral-500 cursor-pointer hover:text-white transition-colors duration-300
}


/* Room Section */

.card-section {
  @apply rounded-lg shadow-lg
}

.text-container {
  @apply mt-3 p-4 flex flex-col gap-3
}

.text-container h2 {
  @apply text-xl font-medium
}

/* .text-container p {
  @apply text-neutral-500 font-medium
} */

.image-section {
  @apply relative
}

.icon-section {
  @apply flex bottom-3 right-3 absolute gap-3
}

.image-section > img {
  @apply rounded-t-lg
}

.book-button {
  @apply w-fit text-white font-medium px-6 py-3 bg-pinky rounded-lg hover:bg-buttonPinky transition-colors duration-300
}

.icon-section span {
  @apply bg-white w-12 h-12 rounded-full flex justify-center items-center
}

.icon-section span:nth-child(1) {
  @apply text-2xl text-babyPink cursor-pointer
}

.icon-section span:nth-child(2) {
  @apply text-2xl text-paintColor cursor-pointer
}

.icon-section span:nth-child(3) {
  @apply text-2xl text-shieldColor cursor-pointer
}


/* Service Section */

.content-container {
  background: url("./assets/palash.webp");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 30%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.banner-container {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.content-section {
  @apply px-16 py-10 max-[768px]:px-8
}


.icon-container {
  @apply flex flex-col gap-5 mt-6  max-[768px]:gap-2
}

 .icon-container > div {
  @apply flex gap-5 items-center
 }

 .icon-container > div > span {
  @apply  w-14 h-14 rounded-full flex justify-center items-center
 }


 .icon-container > div > span > i {
  @apply text-2xl 
 }



/* Gallery Section */

.pic-container {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-rows: repeat(3, 33.33vh); /* 3 rows, each taking 33.33% of viewport height */
  grid-template-columns: repeat(5, 1fr); /* 5 equal columns */
  
}

.pic-container .box {
  position: relative;
  background: #ccc;
}

.pic-container .box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.pic-container .box.box-1 {
  grid-row: span 2; 
  grid-column: span 1; 
}

.pic-container .box.box-2 {
  grid-row: span 1; 
  grid-column: span 2;
}

.pic-container .box.box-6 {
  grid-row: span 1; 
  grid-column: span 2; 
}

.pic-container .box.box-8 {
  grid-row: span 1; 
  grid-column: span 1; 
}

.pic-container .box.box-9 {
  grid-row: span 1; 
  grid-column: span 2; 
}

.pic-container .box.box-7 {
  grid-row: span 1; 
  grid-column: span 1; 
}

.gallery-heading {
  margin: auto;
  /* padding-left: 45%; */
  display: flex;
  justify-content: center;
}

@media (max-width: 991px) {
  .pic-container {
    grid-template-rows: repeat(5, 250px); 
    grid-template-columns: repeat(3, 1fr); 
  }

  .pic-container .box img {
    max-width: 100%;
  }

  .pic-container .box.box-10 {
    bottom:250px;
  }
}

@media (max-width: 768px) {
  .container11 {
      display: grid;
      grid-template-rows: repeat(7, 200px); 
      grid-template-columns: repeat(2, 1fr); 
  }

}


/* Contact Section */

.input-container {
  @apply flex mb-3 mt-2
}



.data-container > ul > .info-link {
  @apply flex gap-3
}

.info-container   img {
  filter: invert(1);
}



/* Scrollbar Styling */

::-webkit-scrollbar {
  width: 14px;

}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #e82574; 
  border-radius: 20px;
  cursor: pointer;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #bc1c5c; 
  cursor: pointer;
}